# See https://scala-lang.org/blog/2022/07/18/secure-your-dependencies-on-github.html
# See https://github.com/marketplace/actions/sbt-dependency-submission
name: Update Dependency Graph
on:
  push:
    branches:
      - master # default branch of the project
jobs:
  dependency-graph:
    name: Update Dependency Graph
    runs-on: ubuntu-latest # or windows-latest, or macOS-latest
    steps:
      - uses: actions/checkout@v3
      - uses: scalacenter/sbt-dependency-submission@v2
        with:
          working-directory: ./
          modules-ignore: webapp
